body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.asus{
    margin-left: 100px;
    
    display: flex;
   gap: 40px;
   width: 50px;
}
.logo1 {
    filter: grayscale(100%);
    transition: filter 0.3s;
}
.logo1:hover {
    filter: grayscale(7%); 

}
.asus2{
    
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-right: 130px;
    
}
.overview{
    flex: none;
    display: flex;
    padding: 0%;
    gap: 40px;
    margin-left: 90px;
}
.md102{
    display: flex;
}
.price{
  margin-left: 900px;
}
.items{
    justify-content: center;
    align-items: center;
    text-align: center;

}
.background{
    background-color: rgb(241, 244, 240);
}
.iconscircle{
    font-size: 30px;
}
.mouses{
    
    display: flex;
    justify-content: center;
    gap: 10PX;

  
}
.mu{
    border-radius: 10PX;
    background-color: rgb(231, 239, 231);
    transition: border-color 0.3s;
    
}
.mu:hover{
    border: 2px solid;
}
.boxess{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.box11{
    background-color: aliceblue;
    width: 680px;
}
.box22{
    background-color: aliceblue;
    width: 680px;
}
.boxes{
    display: flex;
  gap: 20px;
    justify-content: center;
}

.box1{
    background-color: aliceblue;
    width: 680px;
}
.box2{
    background-color: aliceblue;
    width: 680px;
}
.writings{
    text-align: left;
    margin-left: 40px;
    font-size: 15px;
    
}
.ship{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.asusl{
   height: 30px;
}
.console{

margin-left: 110px;
justify-content: center;

}

    
   
.console1{
    display: flex;
    gap: 20px;
}
.subconsole{
    display: flex;
    gap: 40px;
}
.clogos{
    display: flex;
   font-size: 40px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.final{
    display: flex;
    margin-left: 90px;
}
.world{
    font-size: 20px;
    padding: 15px;
    padding-left: 850px;
}